.area {
  width: 308px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  font-size: 80px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 90px;
  box-shadow: 0 0 7px #fff, 0 0 10px #000;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.end {
  margin: auto;
  width: 300px;
  justify-content: center;
}

.btn {
  display: block;
  margin: 0 auto 10%;
  padding: 10px 40px;
  color: white;
  font-size: large;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #ffc, 0 0 42px #c4c,
    0 0 82px #0fa, 0 0 92px #0fc, 0 0 102px #0fa, 0 0 151px #0fa;
  background-color: #000;
  border-radius: 10px;
}
.win {
  color: aliceblue;
}

.player {
  margin: 20px;
  color: #fff;
  text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ffc, 0 0 42px #c4c,
    0 0 82px #0fa, 0 0 92px #0fc, 0 0 102px #0fa, 0 0 151px #0fa;
}

.winTxt {
  text-align: center;
  color: white;
  text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ffc, 0 0 42px #c4c,
    0 0 82px #0fa, 0 0 92px #0fc, 0 0 102px #0fa, 0 0 151px #0fa;
}
